*{
	box-sizing: border-box;
}
body
{
	margin: 0;
	padding: 0;
	background-color: white;
	background-repeat: no-repeat;
	background-position:center center;
	background-size: cover;
	font-family: Consolas, monaco, monospace;
	
}
.navbar
{
	display: flex;
	align-items: center;
	background: black;
	color: white;
	text-align: left;
}

.titre
{
	font-size: 1.5rem;
	margin: .5rem;
	margin-right: 50px;

}
.navbar-links ul
{
	margin: 0;
	padding: 0;
	display: flex;

}

.navbar-links li
{
	list-style: none;
	font-size: 20px;
	margin-right: 10px;
	margin-left: 10px;
}

.navbar-links li a
{
	text-decoration: none;
	padding: 1rem;
	display: block;
	color: white;
}

.navbar-links li:hover
{
	background-color: rgba(120,120,150, 0.8);
}
.navbarFin
{
	display: flex;
	align-items: center;
	background: black;
	color: white;
	justify-content: center;
}
.navbar-linksFin ul
{
	margin: 0;
	padding: 0;
	display: flex;
}
.navbar-linksFin li
{
	list-style: none;
	font-size: 15px;
}
.navbar-linksFin li a
{
	text-decoration: none;
	padding: 1rem;
	display: block;
	color: white;
}
.navbar-linksFin a:hover
{
	color: blue;
}
/*Menu hamburger*/
.toggle-button
{
	position: absolute;
	top: 1.2rem;
	right: 1rem;
 	display: none;
 	justify-content: center;
 	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	width: 60px;
	height: 50px;
	cursor: pointer;
	transition: all .5s ease-in-out;
	margin-top: 40px;
}

.btnMenu
{
	position: absolute;
	width: 60px;
	height: 7px;
	background: white;
	border-radius: 5px;
	transition: all .5s ease-in-out;
}

.btnMenu::after
{

	content: '';
	position: absolute;
	width: 60px;
	height: 7px;
	background: white;
	border-radius: 5px;
	transition: all .5s ease-in-out;
}
.btnMenu::before
{
	content: '';
	position: absolute;
	width: 60px;
	height: 7px;
	background: white;
	border-radius: 5px;
	transition: all .5s ease-in-out;
}

.btnMenu::before
{
	transform: translateY(-10px);
}
.btnMenu:after
{
	transform: translateY(10px);
}
/*Menu hamburger*/
hr
{
	width: 50%;
	border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.page
{
	margin: auto; 
	background-color: rgb(240, 240, 240);
	border-radius: 2px;
	width: 80%;
}
.profil
{
	font-size: 0.8em;
	display: flex;
	align-items: center;
}

.descProfil
{
	margin-left: 10px;
	width: 50%;
	font-size: 1.2em;
	line-height: 1.8em;
	letter-spacing: 0.1em;
	text-align: left;
	margin-right: auto;
}
.imgMoi
{
	max-width: 200px;
	max-height: 350px;
	border: 5px outset rgb(50,50,50);
	padding: 5px;
	margin-left: auto;
	margin-right: 30px;
	margin-bottom: 30px;
	margin-top: 30px;
}
.titreComp
{
	text-align: center;
}
.celluleParaComp
{
	display: flex;
	align-items: center;
}
.imgDev
{
	max-width: 300px;
	max-height: 200px;
	margin-left: auto;
	margin-right: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.paraComp
{
	width: 60%;
	font-size: 1em;
	line-height: 1.8em;
	letter-spacing: 0.1em;
	text-align: left;
	margin-right: auto;
}
.titreProjets
{
	text-align: center;
}
.paraProjets
{
	width: 30%;
}
.btnPopup
{
	background-color: rgb(175, 175, 255);
	padding: 15px;
	cursor: pointer;
	border-radius: 10px;
	border: 0px;
	margin: auto;
}
.btnPopup:hover
{
	background-color: white;
	border: 1px solid blue;
}
.overlay
{
	background-color: rgba(200, 200, 200, 0.5);
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	display: none;
	
}
.popup
{
	margin: 20% auto;
	width: 60%;
	height: 90%;
	background-color: white;
	border-radius: 15px;
	box-shadow: 15px 20px 0 rgba(0, 0, 0, 0.3);
	padding: 1em;
	transform:translate(0%,-45%);
	overflow-y: scroll;
}
.titreForm
{
	text-align: center;
}
.btnClose
{
	float: right;
	cursor: pointer;

}
.imgForm
{
	width: 70%;
	display: block;
	margin: auto;
}
.photo
{
	width: 550px;
	height: 600px;
	margin: 0;
	display: inline-block;
	background-size: cover;
}
.bouton
{
	position: absolute;
	width: 50px;
	cursor: pointer;
	top: 250px;
}
#g
{
	left: 0;
	opacity: 0.4;
	transform: rotate(180deg);
	transition: all 0.3s ease;
}
#d
{
	right: 0;
	opacity: 0.4;
	transform: rotate(0deg);
	transition: all 0.3s ease;
}
#g:hover
{
	transform: rotate(180deg) scale(1.1);
	opacity: 1;
	transition: all 0.3s ease;
}
#d:hover
{
	transform: rotate(0deg) scale(1.1);
	opacity: 1;
	transition: all 0.3s ease;
}
#carrousel
{
	margin: auto;
	width: 550px;
	height: 600px;
	border: 4px solid white;
	box-shadow: 0 0 14px rgba(0, 0, 0, 0.3) ;
	position: relative;
	overflow: hidden;
}
#container
{
	width: 550px;
	height: 600px;
}
@media (max-width: 1050px)
{
	.descProfil
	{
		width: 100%;
		margin: 0;
	}
}
@media (max-width: 1024px)
{
	.titre
	{
		font-size: 2em;
		margin-top: 40px;
	}
	.navbar
	{
		height: 125px;
	}
	.toggle-button
	{
		display: flex;
	}
	.toggle-button.active .btnMenu
	{
		transform: translateX(-50px);
		background: transparent;
	}
	.toggle-button.active .btnMenu::before
	{
		transform: rotate(45deg) translate(35px, -35px);
	}
	.toggle-button.active .btnMenu::after
	{
		transform: rotate(-45deg) translate(35px, 35px);
	}
	.navbar-links
	{
		display: none;
		width: 100%;
	}
	.navbar
	{
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar-links ul
	{
		width: 100%;
		flex-direction: column;
		z-index: 6;
		position: absolute;
		background:  linear-gradient(to right, rgba(10, 10, 25, 0.8), rgba(120,120,120, 0.3));
	}
	.navbar-links li
	{
		text-align: center;
	}
	.navbar-links li a
	{
		padding: .5rem 1rem;
	}
	.navbar-links.active
	{
		display: flex;
		width: 30%;
	}


	.navbar-links.active.opened
	{
		display: none;
	}
	.paraProjets
	{
		width: 100%;
	}
	
	.descProfil
	{
		width: 100%;
	}
	.imgMoi
	{
		margin: auto;
		display: flex;
		max-width: 250px;
		max-height: 350px;
	}
	.profil
	{
		align-items: unset;
		display: inline-block;
	}
	.celluleParaComp
	{
		display: inline-block;
		align-items: unset;
	}
	.imgDev
	{
		max-width: 300px;
		max-height: 200px;
		margin: auto;
		display: flex;
	}
	.paraComp
	{
		width: 100%;
	}
	.overlay
	{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		
	}
	.popup
	{
		margin: 20% auto;
		width: 90%;
		height: 70%;
		transform:translate(0%,0%);

	}
	.titreForm
	{
		text-align: center;
	}
	.btnClose
	{
		float: right;
		cursor: pointer;
	}
	.paraForm
	{
		font-size: 13px;
		letter-spacing: 0em;
	}
	.imgForm
	{
		width: 75%;
		display: block;
		margin: auto;
	}
		#carrousel
	{
		width: 400px;
		height: 450px;
	}
	.photo
	{
		width: 400px;
		height: 450px;
	}


	}
@media (max-width: 600px)
{
	.page
	{
		width: 95%;
	}
	.imgDev
	{
		float: none;
		display:flex;
		margin: auto;
		margin-top: 5px;
	}
	.paraComp
	{
		font-size: 1em;
		line-height: 1em;
		letter-spacing: 0em;
	}
	.descProfil
	{
		font-size: 1.2em;
		line-height: 1.5em;
		letter-spacing: 0em;
	}
}
